{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Krusty Krab | Home.</title>
    <link rel="icon" href="{% static 'img/sponge-icon.jpg' %}" />
    <link rel="stylesheet" href="{% static 'css/inicio.css' %}" />
    <link rel="stylesheet" href="{% static 'css/carousel-2.css' %}" />
  </head>

  <body style="background-color: #24252a">
    <!--Aqui va la navbar-->
    <header>
      <h1 class="logoo" alt="logo">
        <a class="logo">
          <img src="{% static 'img/Krab1.webp' %}" alt="Logo" />
        </a>
      </h1>
      <nav>
        <ul class="nav_links">
          <li><a href="{% url 'index' %}">Menú</a></li>
          <li><a href="{% url 'info' %}">Información</a></li>
          <li><a href="{% url 'resena' %}">Haz una reseña</a></li>
        </ul>
      </nav>
      <a class="cta" href="{% url 'login' %}"><button>Log in</button></a>
    </header>

    <!--Aqui estas el contenido del carrusel del inicio-->
    <section class="container">
      <div class="slider-wrapper">
        <div class="slider">
          <img
            id="Inicio/1"
            src="{% static 'img/hard/_3db2561d-9b7d-4fc5-8eec-45d50047f8e4.jpg' %}"
            alt="3D rendering of an imaginary orange planet in space"
          />
          <img
            id="Inicio/2"
            src="{% static 'img/hard/_79b73a6a-a24c-49dc-a885-005b909ae055.jpg' %}"
            alt="3D rendering of an imaginary green planet in space"
          />
          <img
            id="Inicio/3"
            src="{% static 'img/hard/_e3863f12-e9df-4594-ba78-6e6c0b1191c9.jpeg' %}"
            alt="3D rendering of an imaginary blue planet in space"
          />
          <img
            id="Inicio/4"
            src="{% static 'img/hard/Krusty_Krab_Training_Video_081.png' %}"
            alt="3D rendering of an imaginary blue planet in space"
          />
          <img
            id="Inicio/5"
            src="{% static 'img/hard/sponge5.png' %}"
            alt="3D rendering of an imaginary blue planet in space"
          />
          <div class="slider-overlay"></div>
        </div>
        <div class="slider-nav">
          <a href="#Inicio/1"></a>
          <a href="#Inicio/2"></a>
          <a href="#Inicio/3"></a>
          <a href="#Inicio/4"></a>
          <a href="#Inicio/5"></a>
        </div>
      </div>
    </section>
  </body>
</html>
